# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# PYTHON
# =========================
__pycache__/
**/venv/

# =========================
# NODE / FRONTEND
# =========================
node_modules/
frontend/node_modules/
frontend/dist/

# =========================
# DATABASE / RUNTIME DATA
# =========================
backend/data/
*.db

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# OS / IDE
# =========================
.DS_Store
.vscode/
.idea/